<script>
    const route = "{{ path('blog_show', {slug: 'my-blog-post'})|escape('js') }}";
</script>
{% set route_name = app.request.attributes.get('_route') %}
{% set route_parameters = app.request.attributes.get('_route_params') %}
{% set all_attributes = app.request.attributes.all %}

<a href="{{ path('blog_index') }}">Homepage</a>

{% for post in blog_posts %}
    <h1>
        <a href="{{ path('blog_post', {slug: post.slug}) }}">{{ post.title }}</a>
    </h1>

    <p>{{ post.excerpt }}</p>
{% endfor %}

<p>{{ user.name }} added this comment on {{ comment.publishedAt|date }}</p>

